					
							<h3>Museums & Libraries - networks of inspiration</h3>
					
								 <
							
								 <blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr">Building, testing, and having fun. LEGO zipline activity <a href="https://twitter.com/MakerFaireMSP">@MakerFaireMSP</a> <a href="https://twitter.com/hashtag/LEGOtinkering?src=hash">#LEGOtinkering</a> <a href="https://t.co/6t984BH4Q2">https://t.co/6t984BH4Q2</a></p>&mdash; Peter Hoh (@PeterHohMN) <a href="https://twitter.com/PeterHohMN/status/732314109878751232">May 16, 2016</a></blockquote>
								 <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

								 <blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/Lightnin99">@Lightnin99</a> I have been tinkering with Lego for 20 years at SMM. Mostly feeling isolated. Got on Twitter, discovered <a href="https://twitter.com/hashtag/LEGOtinkering?src=hash">#LEGOtinkering</a> (1/2)</p>&mdash; Peter Hoh (@PeterHohMN) <a href="https://twitter.com/PeterHohMN/status/733211871415701504">May 19, 2016</a></blockquote>
								 <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

								 <blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/Lightnin99">@Lightnin99</a> . . . and now I have collaborators. (2/2)</p>&mdash; Peter Hoh (@PeterHohMN) <a href="https://twitter.com/PeterHohMN/status/733212489333116928">May 19, 2016</a></blockquote>
								 <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

								 <blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/smartinseb">@smartinseb</a> - Used <a href="https://twitter.com/digitalbytes">@digitalbytes</a>&#39;s &#39;Anybeam&#39; on <a href="https://twitter.com/thingiverse">@thingiverse</a> for <a href="https://twitter.com/hashtag/LEGOtinkering?src=hash">#LEGOtinkering</a> some crank-slider-ish mechanisms. <a href="https://t.co/6xxKZgxOnd">pic.twitter.com/6xxKZgxOnd</a></p>&mdash; Patrick Ferrell (@PBFerrell) <a href="https://twitter.com/PBFerrell/status/729775518627684352">May 9, 2016</a></blockquote>
								 <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


</br>
Flotsam...

 							<p>The first activity developed was called "Art Machines", and is a variant of a well known Maker activity called "Scribbling Machines" that the Tinkering Studio developed. </p>
						
							[General Art Machines tweet]
							
							<p>Early on, we recognised a need to be able to easily mount pens anywhere on the LEGO machine in such a way that they were also easily adjusted. @smartinseb made small pen clamp in a CAD program, printed it out, and shared the design file in a blog post.</p>
							
							[Martin sharing? Blog post?]
						
							<p>Different people on twitter got interested, and used the digital file to print their own.</p>
						
							<blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/smartinseb">@smartinseb</a> <a href="https://twitter.com/TinkeringStudio">@TinkeringStudio</a> Almost got it..... <a href="https://t.co/sUu9bmCLvD">pic.twitter.com/sUu9bmCLvD</a></p>&mdash; Colleen Graves (@gravescolleen) <a href="https://twitter.com/gravescolleen/status/732625829537058817">May 17, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
